<header class="home-header">

    <div class="headerCodeBlock">
        analyticLevels = [<br/>
        &nbsp;&nbsp;&nbsp;descriptive,<br/>
        &nbsp;&nbsp;&nbsp;diagnostic,<br/>
        &nbsp;&nbsp;&nbsp;predictive,<br/>
        &nbsp;&nbsp;&nbsp;prescriptive&nbsp;<span class="todo"># todo</span><br/>
        ]

    </div>
    <!-- <div>
        `​`` html
           <a href="#">Hello world</a>
        `​``
    </div>
    <div>
        {% highlight javascript %}
document.write("JavaScript is a simple language for javatpoint learners");
{% endhighlight %}
    </div> -->
    <!-- {% for slot in site.data.carousel.slots %}
            <header id="slot-{{ forloop.index0 }}" class="slot{% if forloop.index0 == 0 %} visible{% endif %}">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h2><span class="h2-content"></span></h2>
                        <h1><span class="h1-content"></span></h1>
                        <h3><span class="p-content"></span></h3>
                    </div>
                </div>
                <small class="picture-info"></small>
            </header> 
    {% endfor %}

    <a id="prev" >&#10094;</a>
    <a id="next" >&#10095;</a>

    <div id="progress-bar">
        <div id="progress"></div>
    </div> -->

</header>