---
title: Publications
layout: subpage
lang: en
permalink: en/publications/
description: List of all publicated scientific contributions
---
<section id="publist">
    <div class="container">
        <h2>Publications</h2>
        {% assign publications = site.data.publications | sort: 'year' | reverse %}
        {% if publications.size > 0 %}
        {% for entry in publications %}
        {% assign link = entry.link | strip_newlines %}
        <div class="row">
            <br/>
            <div class="col-lg-1 col-md-1 col-sm-12">
                <h5>{{ entry.year }}</h5>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-12">
                {% if link == "" %}
                <h4>{{ entry.title }}</h4>                
                {% else %}
                <h4><a href="{{ entry.link }}" alt="Link to publication" target="_blank">{{ entry.title }}</a></h4>
                {% endif %}                
                <p>{{ entry.authors }} - {{ entry.title }} - {{ entry.publisher }}</p>                
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="row"><div class="col-lg-12"><h4>Sorry, there are no publications listed by the moment.</h4></div></div>
        {% endif %}
    </div>
</section>
